In [164]:
import pandas as pd

In [165]:
df=pd.read_csv('judge-1377884607_tweet_product_company.csv',encoding = 'unicode_escape')

In [166]:
df

,tweet_text,emotion_in_tweet_is_directed_at,is_there_an_emotion_directed_at_a_brand_or_product
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,iPhone,Negative emotion
1,@jessedee Know about @fludapp ? Awesome iPad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. The...,iPad,Positive emotion
3,@sxsw I hope this year's festival isn't as cra...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,Google,Positive emotion
...,...,...,...
9088,Ipad everywhere. #SXSW {link},iPad,Positive emotion
9089,"Wave, buzz... RT @mention We interrupt your re...",NaN,No emotion toward brand or product
9090,"Google's Zeiger, a physician never reported po...",NaN,No emotion toward brand or product
9091,Some Verizon iPhone customers complained their...,NaN,No emotion toward brand or product
9092,Ï¡Ïàü_ÊÎÒ£Áââ_£â_ÛâRT @...,NaN,No emotion toward brand or product

In [ ]:
d

In [167]:
df.emotion_in_tweet_is_directed_at.value_counts()

iPad                               946
Apple                              661
iPad or iPhone App                 470
Google                             430
iPhone                             297
Other Google product or service    293
Android App                         81
Android                             78
Other Apple product or service      35
Name: emotion_in_tweet_is_directed_at, dtype: int64

In [168]:
df.is_there_an_emotion_directed_at_a_brand_or_product.value_counts()

No emotion toward brand or product    5389
Positive emotion                      2978
Negative emotion                       570
I can't tell                           156
Name: is_there_an_emotion_directed_at_a_brand_or_product, dtype: int64

In [169]:
df.is_there_an_emotion_directed_at_a_brand_or_product.isna().sum()

0

In [170]:
df.emotion_in_tweet_is_directed_at.isna().sum()

5802

In [171]:
df.shape

(9093, 3)

In [172]:
df.columns=['tweet','company','emotion']

In [173]:
df

,tweet,company,emotion
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,iPhone,Negative emotion
1,@jessedee Know about @fludapp ? Awesome iPad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. The...,iPad,Positive emotion
3,@sxsw I hope this year's festival isn't as cra...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,Google,Positive emotion
...,...,...,...
9088,Ipad everywhere. #SXSW {link},iPad,Positive emotion
9089,"Wave, buzz... RT @mention We interrupt your re...",NaN,No emotion toward brand or product
9090,"Google's Zeiger, a physician never reported po...",NaN,No emotion toward brand or product
9091,Some Verizon iPhone customers complained their...,NaN,No emotion toward brand or product
9092,Ï¡Ïàü_ÊÎÒ£Áââ_£â_ÛâRT @...,NaN,No emotion toward brand or product

In [211]:
df.tweet.dropna(inplace=True)

In [174]:
df[df.company.isna()]

,tweet,company,emotion
5,@teachntech00 New iPad Apps For #SpeechTherapy...,NaN,No emotion toward brand or product
6,NaN,NaN,No emotion toward brand or product
16,Holler Gram for iPad on the iTunes App Store -...,NaN,No emotion toward brand or product
32,"Attn: All #SXSW frineds, @mention Register fo...",NaN,No emotion toward brand or product
33,Anyone at #sxsw want to sell their old iPad?,NaN,No emotion toward brand or product
...,...,...,...
9087,"@mention Yup, but I don't have a third app yet...",NaN,No emotion toward brand or product
9089,"Wave, buzz... RT @mention We interrupt your re...",NaN,No emotion toward brand or product
9090,"Google's Zeiger, a physician never reported po...",NaN,No emotion toward brand or product
9091,Some Verizon iPhone customers complained their...,NaN,No emotion toward brand or product
9092,Ï¡Ïàü_ÊÎÒ£Áââ_£â_ÛâRT @...,NaN,No emotion toward brand or product

In [178]:
df[df.emotion=='No emotion toward brand or product'].company.value_counts()

iPad                               24
Apple                              21
Google                             15
iPad or iPhone App                 10
Other Google product or service     9
iPhone                              9
Android App                         1
Android                             1
Other Apple product or service      1
Name: company, dtype: int64

In [179]:
df[df.emotion=='No emotion toward brand or product'].company.isna().sum()

5298

In [180]:
punctuation=[",",".","#","!","@","$","?","$","%","&","-","_"]
apple=['iPhone',"iPad&quot;","iphone ",'i Pad','i Pad',"Apple.","iPad?","#iPad","#iPhone",'iPad','Mac',"iphone,",'iPod','ipod','ipad','mac','Apple','apple','Apple\'s','apple\'s',"#Apple",'#apple','I-Pad']
google=['Google','google','android','Android','Google.','android,',"#android",'Google\'s','google\'s','googles' ,'#google','#Google']

False

In [190]:
for index in list(df[df.company.isna()].tweet.dropna().index):
    tweet = ''.join(i for i in df.tweet[index] if not i in punctuation)
    if bool(set(tweet.split())&set(apple)) == True:
        df.company[index]=list(set(tweet.split())&set(apple))[0]
    if bool(set(tweet.split())&set(google)) == True:
        df.company[index]=list(set(tweet.split())&set(google))[0]

In [204]:
df[['company','emotion','tweet']].groupby(['company','emotion']).count()

                                                                    tweet
company                         emotion
Android                         I can't tell                            2
                                Negative emotion                        9
                                No emotion toward brand or product    163
                                Positive emotion                       75
Android App                     Negative emotion                        8
                                No emotion toward brand or product      1
                                Positive emotion                       72
Apple                           I can't tell                           84
                                Negative emotion                      120
                                No emotion toward brand or product   2578
                                Positive emotion                      716
Google                          I can't tell                           35
                                Negative emotion                       84
                                No emotion toward brand or product   1063
                                Positive emotion                      412
Google's                        I can't tell                            4
                                No emotion toward brand or product    107
                                Positive emotion                        7
Other Apple product or service  Negative emotion                        2
                                No emotion toward brand or product      1
                                Positive emotion                       32
Other Google product or service I can't tell                            1
                                Negative emotion                       47
                                No emotion toward brand or product      9
                                Positive emotion                      236
android                         Negative emotion                        1
                                No emotion toward brand or product     51
                                Positive emotion                        8
google                          I can't tell                            5
                                Negative emotion                        1
                                No emotion toward brand or product    263
                                Positive emotion                       13
google's                        No emotion toward brand or product      5
iPad                            I can't tell                            4
                                Negative emotion                      125
                                No emotion toward brand or product     24
                                Positive emotion                      793
iPad or iPhone App              Negative emotion                       63
                                No emotion toward brand or product     10
                                Positive emotion                      397
iPhone                          I can't tell                            1
                                Negative emotion                      103
                                No emotion toward brand or product      9
                                Positive emotion                      184

In [217]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer

from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer()
text_tf= tf.fit_transform(df['tweet'])
text_tf.data

AttributeError: 'int' object has no attribute 'lower'

In [213]:
text_counts

<9092x9421 sparse matrix of type '<class 'numpy.int64'>'
	with 105640 stored elements in Compressed Sparse Row format>

In [214]:
pd.DataFrame(text_counts)

                                                      0
0       (0, 9121)\t1\n  (0, 172)\t1\n  (0, 4452)\t1\...
1       (0, 4452)\t1\n  (0, 8117)\t1\n  (0, 4554)\t1...
2       (0, 8117)\t1\n  (0, 4440)\t1\n  (0, 8101)\t1...
3       (0, 4452)\t1\n  (0, 8117)\t2\n  (0, 623)\t1\...
4       (0, 8117)\t1\n  (0, 8165)\t1\n  (0, 3702)\t1...
...                                                 ...
9087       (0, 8117)\t1\n  (0, 4440)\t1\n  (0, 4928)\t1
9088    (0, 8117)\t1\n  (0, 3641)\t1\n  (0, 7114)\t1...
9089    (0, 8117)\t1\n  (0, 7138)\t1\n  (0, 3641)\t1...
9090    (0, 4452)\t1\n  (0, 8117)\t1\n  (0, 5654)\t1...
9091    (0, 8117)\t1\n  (0, 3641)\t1\n  (0, 7114)\t1...

[9092 rows x 1 columns]

In [215]:
df = pd.DataFrame(text_counts.todense(),columns = cv.get_feature_names())
df

,0,00,000,00am,00pm,01am,02,03,0310apple,06,...,zms,zomb,zombie,zombies,zomg,zone,zoom,zuckerberg,zynga,zzzs
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9087,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9088,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9089,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9091,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0